@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #89609E;
  color: #333;
}

.tl-navbar {
  background-color: #eceeef;
  min-height: 4rem;
  padding-top: 15px;
  margin-bottom: 15px;

  .right-side {
    float: right;
  }
}

#login-form {
  /* setup form at center of screen */
  position: absolute;
  height: 400px;
  width: 600px;
  margin: auto;
  padding: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  input {
    border: none;
    border-bottom: 1px solid #d2d2ff;
  }
}

.logo {
  width: 30px;
}

.main-container {
  margin: 20px;
}
.boards-wrapper {
  min-height: 800px;
}

.board {
  min-height: 5em;
  padding: 1em;
  background: rgb(0, 121, 191);
  margin: 1em;
  color: #fff;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
};

.canvas {
  min-height: 30px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 8px 0px;
  max-width: 300px;
  text-decoration: none;
  color: #444;
  padding: 5px 10px;
  margin: 5px 0px;
}

.canvas-composer {
  text-decoration: none;
  color: #8c8c8c;
  margin: 5px 0px;

  &:hover {
    color: #444;
  }
}

.cards {
  background: #e2e4e6;
  border-radius: 3px;
  margin: 0px 5px;
  width: 272px;
  padding: 10px 15px;


  &.cards-header {
    padding: 10px 8px;
    min-height: 30px;
    margin-bottom: 5px;
  }
}