@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #fafafa;
}

.tl-navbar {
  background-color: #eceeef;
  min-height: 4rem;
  padding-top: 15px;
  margin-bottom: 15px;

  .right-side {
    float: right;
  }
}

#login-form {
  /* setup form at center of screen */
  position: absolute;
  height: 400px;
  width: 600px;
  margin: auto;
  padding: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  input {
    border: none;
    border-bottom: 1px solid #d2d2ff;
  }
}

.logo {
  width: 30px;
}